* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img 
{
    width: 500px;
    height: 500px;
    display:block;
    margin:auto;
    object-fit: contain;
    
}

.controls
{
    width: 500px;
    border: 1px solid #017bab;
    margin-top: 15px;
    padding: 10px 10px;
    background: white;
    font-size: 14px;
    font-weight: bold;
    display:block;
    margin:auto;
}

.buttons
{
    width: 500px;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    display:block;
    margin:auto;
}
   