.buttons
{
    width: 200px;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    display:block;
    margin:auto;
}

header{
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    text-align: center;
    color: white;
    background-color: #017bab;
    font-size: xx-large;
    background: rgba(1, 123, 171,0.5);
}

body{
    background-image: url(/files/eslam.jpg);
    background-color: #cccccc;
    height: 800px;
    background-position: center; 
    background-repeat:no-repeat;
    background-size:1000px;
}

#container{
    background-color: #017bab;    
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    text-align: center;
    font-size: x-large;
    color: white;
    background: rgba(1, 123, 171,0.5);
}