<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIUM Main Page</title>
    <link rel="stylesheet" href="/style/indexStyle.css">
</head>
<body>
    <section class="form-login">
        <div class="center">   
            <img src="/files/eslam.jpg" alt="eslam">
        </div>
        <form id="task-form">
            <input type="text" id="user" placeholder="Usuario">
            <input class="controls" id="pass" placeholder="Contraseña">
            <a href="selectionModule.html">
                <input class="buttons" type="submit" name="" value="Ingresar">
            </a>
        </form>
    </section>

    <script type="module" src="/javascript/index.js"></script>
</body>
</html>