<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIUM</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    <h1>Selección de Módulo</h1>
    <form action="\stock">
        <input type="submit" class="btn-NOlogin" value="Ir a Stock">
    </form>
    <br>
    <form action="\finance">
        <input type="submit" class="btn-NOlogin" value="Ir a Finanzas">
    </form>
    <br><br>
    <% if (login) { %>                                       
        <form action="\logout">
            <input type="submit" class="btn-salir" value="Cerrar Sesión">
        </form>
    <%} else { %>  
        <a href="login" class="a-login">Ir a Login</a>
    <% } %>
</body>
</html>