<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>No se ha iniciado sesion</title>
</head>
<body>
    <h1>Se debe iniciar sesión</h1>
    <form action="/">
        <input type="submit" class="btn-NOlogin" value="Ir a Login">
    </form>
</body>
</html>