<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/stockModule.css">
    <title>Módulo Stock</title>
</head>
<body>
    <header>
        <h1>Stock</h1>
    </header>
    <div id="container">
        <p>
            Ropa mujer XL $250.000 <br>
            Ropa niño verano $150.000 <br>
        </p>
    </div>
    <a href="updateStock.html">
        <input class="buttons" type="button" value="Actualizar">
    </a>
    
</body>
</html>