body{
    background-color: white;
    font-family: roboto;
    margin: 50px;
    text-align: center;
    background-image: url("/resources/files/eslam.jpg");
    height: 800px;
    background-position: center; 
    background-repeat:no-repeat;
    background-size:900px;

}

/* Login form */
.login-form, .contenedor{
    width: 300px;
    margin: 0 auto;
}

.login-form h1{
    text-align: center;
    color: white;
    font-size: 28px;
    padding: 70px 0 10px 0;
}

.login-form h2{
  text-align: center;
  color: white;
  }

.login-form input[type="password"],
.login-form input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  margin-bottom: 10px;
  box-sizing:border-box;
}

/* Estilos boton LOGIN*/
.btn-login{
    width: 100%;
    padding: 15px;
    background: #017bab;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
  }
  .btn-login:hover,.btn-login:active{
    color:#fff;
    background: #017bab;
    border-color: #017bab;
  }
  .btn-login:focus{
    box-shadow:0 0 0 3px rgba(121,82,179,0.25)
  }
